* {
  box-sizing: border-box;
}

#reg {
  width: 100%;
}

#reg #head {
  box-shadow: 0 10px 4px 0 #eee;
  width: 100%;
  margin-bottom: 100px;
}

#reg #head .content {
  width: 1190px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 110px;
  align-items: center;
}

#reg #head .content .head_left {
  font-size: 24px;
  line-height: 24px;
  color: #333;
  display: flex;
  align-items: center;
}

#reg #head .content .head_left .logo {
  width: 160px;
  height: 50px;
  background: url(../img_list/logo.png) no-repeat;
  text-indent: -9999px;
  background-size: 160px 50px;
}

#reg #head .content .head_left p:last-child {
  padding-left: 16px;
  margin-top: 14px;
}

#reg #head .content .head_right {
  color: #999;
}

#reg #head .content .head_right .login {
  color: #e22;
}

#reg #con {
  padding: 20px;
  width: 420px;
  background-color: #fff;
  border: 1px solid #999;
  margin: 0 auto;
}

#reg #con li {
  margin-bottom: 12px;
}

#reg #con label {
  display: inline-block;
  width: 80px;
  text-align: right;
  margin-right: 10px;
  line-height: 30px;
}

#reg #con input {
  border: 1px solid #999;
  font-size: 18px;
  width: 200px;
  height: 30px;
}

#reg #con span {
  display: block;
  padding-left: 100px;
  font-size: 14px;
  line-height: 30px;
}

#reg #con li:last-child {
  padding: 0 66px;
  display: flex;
  justify-content: space-between;
}

#reg #con li:last-child p {
  box-sizing: border-box;
  width: 60px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background-color: #e22;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
